<div class="flex dcol gap-10">
    <div class="flex dcol">
        <div style="margin: 0;" class="ui green message hide spturn">C'est à ton tour ! Choisis bien!</div>
        <div style="margin: 0;" class="ui blue message hide wpturn">Patience.. Ce n'est pas encore à toi !</div>
    </div>
    <div class="flex gap-10">
        <div id="gamePlateauTable" class="center-layout">
         
        </div>
        <div class="chat h-100 ">
            <div class="ui card h-100 ">
                <div class="content">
                    <div class="ui list" id="chatList" style="height: 26rem;max-height: 26rem;overflow-y: auto;">
                  
                    </div>
                    <div class="ui form">
                        <div class="field">
                            <label>Votre message</label>
                            <input type="text" name="message" id="chatInput" placeholder="message">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
